body {
    background: url(/pics/outerspace-55.gif) no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
}

h3 {
    color: rgb(173, 157, 215);
    color: #70869d;
    letter-spacing: .15em;
    text-shadow: 
      -1px -1px 1px #efede3, 
      0px 1px 0 #2e2e2e, 
      0px 2px 0 #2c2c2c, 
      0px 3px 0 #2a2a2a, 
      0px 4px 0 #282828, 
      0px 5px 0 #262626, 
      0px 6px 0 #242424, 
      0px 7px 0 #222, 
      0px 8px 0 #202020, 
      0px 9px 0 #1e1e1e, 
      0px 10px 0 #1c1c1c, 
      0px 11px 0 #1a1a1a, 
      0px 12px 0 #181818, 
      0px 13px 0 #161616, 
      0px 14px 0 #141414, 
      0px 15px 0 #121212,
      2px 20px 5px rgba(0, 0, 0, 0.9),
      5px 23px 5px rgba(0, 0, 0, 0.3),
      8px 27px 8px rgba(0, 0, 0, 0.5),
      8px 28px 35px rgba(0, 0, 0, 0.9);
    font-family: 'Londrina Shadow', cursive;
    font-size: 200px;
    text-align: center;
    animation: ufoAnimation 3s infinite;
}

#buttons {
    margin: auto;
    top: 50%;
}

button,
button::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, rgb(63, 53, 124) 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, rgb(63, 53, 124) 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

#game {
    margin: auto;
    background: url(/pics/spaceback.jpg);
    animation: animateBack 3s steps(100) infinite;
    border: 30px solid rgb(63, 53, 124);
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), 0 0 5px #aaa inset;
    width: 1000px;
    height: 670px;
    overflow: hidden;
    position: relative;
    display: none;
}

.score {
    position: fixed;
    margin: 100px;
    display: none;
    font-size: 36px;
    animation: none;
}

#char {
    position: absolute;
    bottom: 110px;
    height: 170px;
    width: calc(790px / 6);
    background: url(/pics/run.png);
    left: 10%;
    animation: animateChar 1s steps(6) infinite;
}   


#ufo1 {
    position: absolute;
    bottom: 240px;
    height: 60px;
    width: 100px;
    background: url(/pics/ufo1.png);
    left: -80%;
    animation: rockAnimation 15s infinite,
            ufoAnimation 1s infinite;
}

#ufo2 {
    position: absolute;
    bottom: 250px;
    height: 60px;
    width: 75px;
    background: url(/pics/ufo2.png);
    left: -60%;
    animation: rockAnimation 25s infinite,
            ufoAnimation 1s infinite;
}

#ufo3 {
    position: absolute;
    bottom: 350px;
    height: 30px;
    width: 50px;
    background: url(/pics/ufo3.png);
    left: -50%;
    animation: rockAnimation 20s infinite,
            ufoAnimation 2s infinite;
}

#ufo4 {
    position: absolute;
    bottom: 220px;
    height: 50px;
    width: 50px;
    background: url(/pics/ufo4.png);
    left: -30%;
    animation: rockAnimation 30s infinite,
            ufoAnimation 1s infinite;
}


#rock {
    width: calc(500px / 4);
    height: 100px;
    position: absolute;
    bottom: 110px;
    left: -10%;
    background: url(/pics/rock.png);
    animation: animateRock 1s steps(8) infinite,
               rockAnimation 10s both infinite;
}

.bullet {
    width: 60px;
    height: 60px;
    color: red;
    bottom: 110px;
    /* position: absolute; */
    /* bottom: 110px; */
    /* left: 0; */
    /* background: url(/pics/bullet.png); */
}

.gameOver {
    margin: auto;
    display: none;
    height: 300px;
    animation: ufoAnimation 1s infinite;
}


@keyframes animateChar
{
    from
    {background-position: 0;}
    to {background-position: 830px};
}

@keyframes animateRock
{
    from
    {background-position: 0;}
    to {background-position: 1000px};
}

@keyframes animateUfo
{
    from
    {background-position: 0;}
    to {background-position: 640px};
}

@keyframes animateBird1
{
    from
    {background-position: 0;}
    to {background-position: 830px};
}

@keyframes animateBack
{
    from
    {background-position: 0;}
    to {background-position: -1000px};
}


@keyframes rockAnimation {
    0% {left: 1000px}
    100% {left: -1000px;}    
}

@keyframes ufo1 {
    0% {left: 2000px}
    100% {left: -500px;}    
}
@keyframes ufo2 {
    0% {left: 1000px}
    100% {left: -1000px;}    
}
@keyframes ufo3 {
    0% {left: 1500px}
    100% {left: -800px;}    
}
@keyframes ufo4 {
    0% {left: 2500px}
    100% {left: -1500px;}    
}

@keyframes ufoAnimation {
    0% {transform:translateX(10px);}
    25% {transform:translateY(-10px);}
    50% {transform:translateY(10px);}
    100% {transform:translateX(10px);}
}
@keyframes startAnimation {
    0% {transform:translateX(20px);}
    25% {transform:translateY(-10px);}
    50% {transform:translateY(20px);}
    100% {transform:translateX(-10px);}
}

@keyframes glitch {
    0% {
     clip-path: var(--slice-1);
     transform: translate(-20px, -10px);
    }
   
    10% {
     clip-path: var(--slice-3);
     transform: translate(10px, 10px);
    }
   
    20% {
     clip-path: var(--slice-1);
     transform: translate(-10px, 10px);
    }
   
    30% {
     clip-path: var(--slice-3);
     transform: translate(0px, 5px);
    }
   
    40% {
     clip-path: var(--slice-2);
     transform: translate(-5px, 0px);
    }
   
    50% {
     clip-path: var(--slice-3);
     transform: translate(5px, 0px);
    }
   
    60% {
     clip-path: var(--slice-4);
     transform: translate(5px, 10px);
    }
   
    70% {
     clip-path: var(--slice-2);
     transform: translate(-10px, 10px);
    }
   
    80% {
     clip-path: var(--slice-5);
     transform: translate(20px, -10px);
    }
   
    90% {
     clip-path: var(--slice-1);
     transform: translate(-10px, 0px);
    }
   
    100% {
     clip-path: var(--slice-1);
     transform: translate(0);
    }
   }